<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>PTT Ohjeet</title>
</head>
<body>
  <h1>PTT Ohjeet</h1>
  <h2>Dokumentit</h2>
    <ul>
      <li><a href="{{ instructions_pdf }}">Käyttöohjeet</a></li>
      <li><a href="{{ taisteluajatus_pdf }}">Taisteluajatus</a></li>
      <li><a href="{{ templates_zip }}">Dokumenttipohjat</a></li>
    </ul>
  <h2>Viestiperusteet</h2>
    <table>
          <tr>
              <td>Osoite</td>
              <td>{{ dns_name }}</td>
          </tr>
          <tr>
              <td>Salasana</td>
              <td>{{ mumble_server_password }}</td>
          </tr>
    </table>
</body>
</html>
